
@media (max-width: 768px) {
    /* Para pantallas móviles */
    .carousel-item img {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 769px) {
    /* Para pantallas de escritorio */
    .carousel-item img {
      width: 100%;
      height: auto;
    }
}