footer{
    padding: 15px;
    background-color: #3F241A;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40px;
        }
    }
    p{
        margin: 15px 0;
        color: white;
        text-align: center;
        font-weight: 100;
    }

}

@media screen and (min-width: 1024px){


    

    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        div{
            gap: 15px;
        }
        img{
            width: 40px;
        }
    }
}