.grid-product {
    margin: 25px;
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 110px);
    grid-template-areas:
        "img img verde verde"
        "img img item-1 item-2"
        "img img item-3 item-4"
        "img img item-5 item-6";
    border: 1px solid #402B27;

    .grid-item {
        border: 1px solid #402B27;
    }

    .i-1 {
        background-color: #F5751F;
        grid-area: verde;

        h1 {
            margin-top: 35px;
            text-align: center;
            color: white;
            font-size: 2rem;
        }

        box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
    }

    .i-2 {
        grid-area: img;
        padding: 25px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .i-3 {
        padding: 10px;
        grid-area: item-1;
        box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
    }

    .i-4 {
        box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        padding: 10px;
        grid-area: item-2;
    }

    .i-5 {
        padding: 10px;
        grid-area: item-3;
        box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
    }

    .i-6 {
        padding: 10px;
        grid-area: item-4;
        box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
    }

    .i-7 {
        padding: 10px;
        grid-area: item-5;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);

        a {
            padding: 15px 30px;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            background-color: #F5751F;
        }
    }

    .i-8 {
        padding: 10px;
        grid-area: item-6;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);

        a {
            padding: 15px 30px;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            background-color: #F5751F;
        }
    }
}

@media screen and (min-width:320px) and (max-width: 600px) {
    .grid-product {
        display: none;
    }

    .flex-product {

        display: flex;
        flex-direction: column;

        .flex-container-img {
            padding: 25px;
            padding-bottom: 0;

            img {
                width: 100%;
                margin-bottom: 15px;
            }

            img:last-child {
                width: 100px;
            }
        }

        div:nth-child(2) {
            background-color: #F5751F;
            box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
            -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
            -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);

            h1 {
                padding: 10px;
                text-align: center;
                text-align: center;
                color: white;
            }
        }

        .botones {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            a {
                color: white;
                background-color: #FD7C0F;
                padding: 15px 25px;
                border-radius: 5px;
                text-decoration: none;
                margin: 15px 0;
                border: 0;
            }
        }
        .line{
            width: 100%;
            background-color: black;
            height: 1px;
        }
        // hr{
        //     background-color: black;
        //     height: 1px;
        //     box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        //     -webkit-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        //     -moz-box-shadow: 3px 6px 9px -1px rgba(0, 0, 0, 0.33);
        // }

        p{
            padding: 10px;
            // margin: 15px 0;
            text-align: start;
            border-bottom: 1px solid black;  box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.33);
            -webkit-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.33);
            -moz-box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.33);
        }

        .especificaciones-2{
            margin: auto;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            padding: 15px;
            
            h3{
                text-align: center;
            }
            a {
                display: block;
                width: 50%;
                text-align: center;
                margin: auto;
                color: white;
                background-color: #FD7C0F;
                padding: 15px 45px;
                border-radius: 5px;
                text-decoration: none;
                border: 0;
            }
        }
    }
}


@media screen and (min-width:601px) {
    .flex-product{
        display: none;
    }
}

